html {
  font-family: Verdana;
  text-align: center;

}

body {
  background-color: black;
}

h1 {
  font-size: 50px;
  color: white;
}

h4 {
  font-size: 16px;
  color: aquamarine;
  font-weight: lighter;

}

a {
  font-size: 16px;
  color: aquamarine;
}
